<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Activate Account</title>
</head>

<body style="margin:0;padding:40px;background:#f5f5f5;font-family:Arial">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">

                <table width="600" cellpadding="0" cellspacing="0"
                       style="background:#ffffff;border-radius:8px;padding:40px">

                    <tr>
                        <td align="center">
                            <img src="cid:{{LogoContentId}}" alt="Sea World Holidays" style="height:48px;">
                            <h1 style="color:#2563eb">
                                Welcome to Sea World Holidays
                            </h1>

                            <p style="font-size:16px;color:#555">
                                Hello {{UserName}},
                            </p>

                            <p style="font-size:16px;color:#555">
                                Thank you for registering.
                            </p>

                            <p style="font-size:16px;color:#555">
                                Click the button below to activate your account.
                            </p>

                            <p>
                                <a href="{{ActivationLink}}"
                                   style="background: #fb2c36; padding: 15px 35px; color: white; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: bold; ">
                                    Activate Account
                                </a>

                            </p>

                            <p style="margin-top:40px;color:#888">
                                If you didn't create this account,
                                you can safely ignore this email.
                            </p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</body>
</html>
