<app-home-navbar />
<section class="relative lg:pb-24 pb-16 md:mt-[84px] mt-[70px]">
    <div class="container relative">
        <div class="relative overflow-hidden md:rounded-md shadow dark:shadow-gray-800 h-52 bg-center bg-no-repeat bg-cover" [style.background-image]="'url(' + bg + ')'"></div>
    </div>

    <div class="container relative md:mt-24 mt-16">
        <div class="md:flex">
            <div class="lg:w-1/4 md:w-1/3 md:px-3">
                <app-account-tab />
            </div>

            <div class="lg:w-3/4 md:w-2/3 md:px-3 mt-6 md:mt-0">
                <!-- <div>
                    <h5 class="text-lg font-semibold mb-6">Introduction</h5>
                    <p class="text-slate-400 mt-4">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus how to pursue pleasure rationally encounter but because those who do not know how to pursue consequences that are extremely</p>
                    <p class="text-slate-400 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem earum dicta saepe fugit, qui commodi possimus vero pariatur asperiores. Sed impedit reprehenderit deserunt culpa incidunt iste laborum placeat molestiae illo?</p>
                </div> -->

                <div class="mt-6">
                    <h5 class="text-lg font-semibold mb-6">My Tours</h5>

                    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-6 gap-6">
                        @for (item of packageData; track $index) {
                            <div class="group rounded-md shadow dark:shadow-gray-700">
                                <div class="relative overflow-hidden rounded-t-md shadow dark:shadow-gray-700 mx-3 mt-3">
                                    <img [src]="item.image" class="scale-125 group-hover:scale-100 duration-500" alt="">
                                    <div class="absolute top-0 start-0 p-4">
                                        @if (item.discount) {
                                            <span class="bg-primary text-white text-[12px] px-2.5 py-1 font-medium rounded-md h-5">{{ item.discount }}</span>
                                        }
                                    </div>

                                    <div class="absolute top-0 end-0 p-4">
                                        <a href="#" class="size-8 inline-flex justify-center items-center bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-full text-slate-100 dark:text-slate-700 focus:text-primary dark:focus:text-primary hover:text-primary dark:hover:text-primary"><i class="mdi mdi-heart text-[20px] align-middle"></i></a>
                                    </div>
                                </div>

                                <div class="p-4">
                                    <p class="flex items-center text-slate-400 font-medium mb-2"><i data-feather="map-pin" class="text-primary size-4 me-1"></i> {{ item.country }}</p>
                                    <a routerLink="/tour-detail-one" class="text-lg font-medium hover:text-primary duration-500 ease-in-out">{{ item.city }}</a>

                                    <div class="flex items-center mt-2">
                                        <span class="text-slate-400">Rating:</span>
                                        <ul class="text-lg font-medium text-amber-400 list-none ms-2">
                                            <li class="inline"><i class="mdi mdi-star align-middle"></i></li>
                                            <li class="inline"><i class="mdi mdi-star align-middle"></i></li>
                                            <li class="inline"><i class="mdi mdi-star align-middle"></i></li>
                                            <li class="inline"><i class="mdi mdi-star align-middle"></i></li>
                                            <li class="inline"><i class="mdi mdi-star align-middle"></i></li>
                                            <li class="inline text-black dark:text-white text-sm">5.0(30)</li>
                                        </ul>
                                    </div>

                                    <div class="mt-4 pt-4 flex justify-between items-center border-t border-slate-100 dark:border-gray-800">
                                        <h5 class="text-lg font-medium text-primary">$ 58 / Day</h5>
                                        <a href="javascript:void(0)" class="text-slate-400 hover:text-primary">Explore Now <i class="mdi mdi-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-one />
<app-switcher-one [switcherBack]="true" />
