/* You can add global styles to this file, and also import other style files */
.logo-height{
    height: 5rem ;
}
.custom-logo-h{
    height: 12rem;
}
#topnav.nav-sticky{
    background-color: #fff !important;
    border-bottom: solid 1px #0f172b;
}